<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form id="reset-password-form">
            <div class="field">
                <input type="password" name="newPassword" placeholder="New Password" required>
            </div>
            <div class="field">
                <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
            </div>
            <input type="hidden" name="token" value="<%= token %>"> <!-- Hidden field for the token -->
            
            <div class="field btn">
                <input type="submit" value="Reset Password">
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Link to external JavaScript file -->
    <script src="/js/reset-password.js"></script>
</body>
</html>

