
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/userlogin.css">
</head>
<body>

    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
          
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="/login"  method="POST" class="login">
              <div class="field">
                <input type="text" name="email" id="email" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password" required>
              </div>
              
              <div class="pass-link"> <a href="#" onclick="submitForgotPassword()">Forgot password?</a></div>
              <div class="field btn"> 
                <div class="btn-layer"></div>
                <input type="submit" value="Login">

              </div> 
              <div class="signup-link">Not a member ? <a href="#">Signup now</a></div>
            </form>
            <form action="/register" method="POST" class="signup">
              <div class="field">
                <input type="text" name="email" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password" required>
              </div>
              <div class="field">
                <input type="password" name="confirmpassword" placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup" >
              </div>
            </form>
          </div>
        </div>
      </div>
<!-- 
      <form id="forgot-password-form" action="/forgot-password" method="POST" style="display: none;">
        <input type="hidden" name="email" id="forgot-password-email">
    </form> -->
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="/js/userlogin.js"></script>
</body>
</html>













